<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/tab-bar.css" />
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css"> </style>
</head>

<body>
    <div class="container">
        {{>header}}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="contact-form">
                    <h1>Register for new employee</h1>
                    <p class="hint-text">We'd love to hear from you, please drop us a line if you've any query or
                        question.</p>
                    <form action="/register/createUser" method="post">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="inputId">Id</label>
                                    <input type="text" class="form-control" name="id" required="required">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="inputName">Name</label>
                                    <input type="text" class="form-control" name="name" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="inputPhone">Phone</label>
                                    <input type="text" class="form-control" name="phone" required="required">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" class="form-control" name="email" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="inputRole">Role</label>
                                    <input type="text" class="form-control" name="role" required="required">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="inputInfo">Info</label>
                                    <input type="text" class="form-control" name="info" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label" for="customFile">Upload Avatar 300x300px</label>
                                    <input type="file" class="form-control" name="avatar" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Submit</button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>